name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  ci:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version-file: ./go.mod
          cache: true
      - name: Download modules
        run: go mod download
      - name: Coverage
        run: go test -v -race -cover -coverprofile=coverage ./...
      - name: Report likely mistakes
        run: go vet ./...
      - name: Staticcheck
        run: go install honnef.co/go/tools/cmd/staticcheck@latest && staticcheck ./...
      - name: Build
        run: CGO_ENABLED=0 go build -buildmode pie
      - name: Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: ./coverage
          flags: portal-role-sync
          name: codecov-portal-role-sync
          fail_ci_if_error: false
          verbose: true
